@import "../mixins";

.options {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 33px;
  padding: 0;
  margin: 20px 0 0;
  list-style-type: none;

  @media (max-width: 1239px) {
    gap: 20px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
  }

  @media (max-width: 767px) {
    margin-top: 15px;
    grid-template-columns: repeat(3, calc(100vw - (var(--wrapper-padding) * 2)));
    max-width: calc(100vw - (var(--wrapper-padding) * 2));
    flex-grow: 1;
  }
}

.options-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 100%;
  box-sizing: border-box;
  filter: drop-shadow(0px 24px 40px rgba(0, 0, 0, 0.20)) drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.20));
  transition: $transition-config;
  padding: 20px 20px 50px;
  justify-content: space-between;

  @media (max-width: 767px) {
    scroll-snap-align: center;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(74, 193, 142, 0.30);
    clip-path: polygon(0 34.00px,34.00px 0,100% 0,100% calc(100% - 34.00px),calc(100% - 34.00px) 100%,0 100%,0 34.00px,1px  calc(34.00px + 0.41px),1px calc(100% - 1px),calc(100% - 34.00px - 0.41px) calc(100% - 1px),calc(100% - 1px) calc(100% - 34.00px - 0.41px),calc(100% - 1px) 1px,calc(34.00px + 0.41px) 1px,1px calc(34.00px + 0.41px));
  }

  &::before {
    position: absolute;
    content: '';
    background: #4AC18E;
    opacity: 0.3;
    left: 0;
    bottom: 25px;
    right: 10px;
    height: 1px;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 34.00px,34.00px 0,100% 0,100% calc(100% - 34.00px),calc(100% - 34.00px) 100%,0 100%);
    transition: $transition-config;
  }

  @media (max-width: 1239px) {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  &:hover, &--is-active {
    filter: drop-shadow(0px 0px 24px rgba(74, 193, 142, 0.25));
    &:after {
      background: #4AC18E;
    }

    .options-item__image {
      opacity: 1;
    }

    .options-item__title-wrapper-icon {
      filter: drop-shadow(0px 0px 4px rgba(74, 193, 142, 0.70)) drop-shadow(0px 0px 8px rgba(74, 193, 142, 0.70));
      path {
        opacity: 1;
      }
      g {
        path {
          opacity: 1;
        }
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 0.5;
    transition: $transition-config;
    object-fit: contain;
    width: 100%;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 83px;
    margin-left: 9px;
    position: relative;
    z-index: 1;

    @media (max-width: 1023px) {
      margin-top: 40px;
      margin-left: 0;
    }

    @media (max-width: 767px) {
      margin-left: 9px;
    }
  }

  &__title-wrapper-icon {
    width: 80px;
    flex-shrink: 0;
    transition: $transition-config;

    path {
      transition: $transition-config;
    }

    g {
      path {
        transition: $transition-config;
      }
    }

    @media (max-width: 1023px) {
      width: 50px;
    }

    @media (max-width: 767px) {
      width: 80px;
    }
  }

  &__title-wrapper-item {
    font-family: $inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
    max-width: 200px;
    color: #ffffff;
    margin: 0;

    @media (max-width: 1023px) {
      font-size: 22px;
    }

    @media (max-width: 767px) {
      font-size: 26px;
    }
  }

  &__description {
    font-family: $inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: #CFD0D3;
    margin: 15px 0 0 12px;
    max-width: 305px;
    padding: 0 5px;
    position: relative;
    z-index: 2;

    @media (max-width: 1023px) {
      margin-left: 0;
      max-height: 200px;
      overflow: scroll;
    }

    @media (max-width: 767px) {
      max-height: 100px;
      margin-left: 12px;
    }
  }

  &__type {
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-left: 17px;
    gap: 8px;
    box-sizing: border-box;
    padding-right: 15px;
    position: relative;

    @media (max-width: 1023px) {
      margin-top: 15px;
      margin-left: 7px;
    }

    @media (max-width: 767px) {
      margin-left: 17px;
    }
  }

  &__type-status {
    color: #CFD0D3;
    font-family: $inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.6;
    text-transform: uppercase;
    flex-shrink: 0;
  }

  &__type-line {
    width: 100%;
    background: #4AC18E;
    opacity: 0.3;
    height: 1px;
    display: block;
  }

  &__type-title {
    font-family: $inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.176px;
    color: #F9F9F9;
    display: flex;
    margin-top: 3px;
    margin-left: 17px;

    @media (max-width: 1023px) {
      margin-left: 7px;
    }

    @media (max-width: 767px) {
      margin-left: 17px;
    }
  }
}

.options-item-buttons {
  margin-top: 25px;
  margin-left: 17px;
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;

  @media (max-width: 1023px) {
    margin-left: 7px;
    margin-top: 15px;
    gap: 15px;
  }

  @media (max-width: 767px) {
    margin-left: 17px;
    gap: 25px;
  }

  &__continue {
    @include main-button;
  }

  &__compare {
    @include site-link;
  }
}