.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background: #292C3D;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    background: #3B3D4F;
    height: 1px;
  }

  &__logo {
    width: 64px;
  }
  
  &__profile-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EE9D23;
    border-radius: 50%;
    min-width: 32px;
    min-height: 32px;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    transition: $transition-config;
    box-sizing: border-box;
    border: 1px solid #EE9D23;
    outline: none;

    &:hover,
    &:focus,
    &:active {
      color: #EE9D23;
      background: #ffffff;
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 3px rgb(238 157 35 / 50%);
    }
  }
}