html {
  --wrapper-width: #{$wrapper-width};
  --wrapper-padding: #{$wrapper-padding};

  height: 100%;

  @media (max-width: 1239px) {
    --wrapper-padding: #{$wrapper-padding-mobile};
  }

  @media (min-width: #{1180px + ($wrapper-padding * 2)}) {
    --wrapper-width: #{$wrapper-width-wide};
  }
}

body {
  background: #292C3D;
}

.wrapper {
  max-width: calc(var(--wrapper-width) + (var(--wrapper-padding) * 2));
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: var(--wrapper-padding);
  padding-right: var(--wrapper-padding);
}

.page-wrapper {
  background: #1F202E;
  min-height: 590px;
  overflow-y: scroll;
  height: calc(100 * var(--height-point) - 56px);
  display: grid;
  justify-content: center;

  &__image {
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: calc(100 * var(--height-point) - 56px);;
  }
}