@import "mixins";

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(4px);
  transition: $transition-config;
  opacity: 0;
  z-index: -1;

  &--is-active {
    z-index: 90;
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #292C3D;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 18px;
  max-width: 640px;
  transition: $transition-config;
  opacity: 0;
  z-index: -1;

  &--is-active {
    z-index: 100;
    opacity: 1;
  }

  &__close-button {
    align-self: end;
    background: transparent;
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__close-button-arrows {
    position: relative;
    display: flex;
    transform: rotate(45deg);

    &::before,
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      background: #F9F9F9;
      border-radius: 2px;
      transform: translate(-50%, -50%);
    }

    &::before {
      height: 20px;
      width: 2px;
    }

    &::after {
      height: 2px;
      width: 20px;
    }
  }

  &__title {
    font-family: $inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    margin: 0;
  }
}