$inter: 'Inter', sans-serif;
$roboto: 'Roboto', sans-serif;

$wrapper-width: 1180px;
$wrapper-width-wide: 1860px;
$wrapper-padding: 30px;
$wrapper-padding-mobile: 15px;
$transition-config: 300ms all ease-in-out;